/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

/* Animations (Keyframes) */
@keyframes activeLink {
    0% {
        border-bottom: 0.2rem solid  transparent;
    }

    100% {
        border-bottom: 0.3rem solid  rgb(0, 213, 228);
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #1a222e;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 700px;
}

.navigation {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;

    padding: 20px;

    color: white; 
}

.navigation:hover {
    background-color: rgb(0, 0, 0);
}

.active {
    animation: activeLink 0.75s forwards;
}

#summary-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    line-height: 25px;
    text-transform: capitalize;

    margin: 30px 0;

    width: 80%;
    
    color: white;
}

#chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
   
    width: 80%;
    height: 100vh;
    
    color: white;
}

#chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    width: 80%;
    height: 400px;

    margin: 30px 0;
}



#message-form {
    display: flex;
    gap: 10px;
}

#message-input {
    flex-grow: 1;

    margin-top: 30px;

    padding: 10px;

    width: 300px;
    height: 20px;

    font-size: 16px;

    border: none;
    border-radius: 15px;
    
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

#message-input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: small;

    color: rgb(255, 255, 255);
}

button[type="submit"] {
    width: 75px;

    margin-top: 30px;
    
    border: none;
    border-radius: 15px;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: small;

    cursor: pointer;

    color: white;
    background-color: #00d5e4;
}

button[type="submit"]:hover {
    background-color: #00c0cf;
    color: #1a222e;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

    font-family: 'Poppins', sans-serif;
    font-size: 11pt;
    font-weight: 600;

    max-width: 60%;

    padding: 10px;

    border-radius: 15px;

    background-color: #00d5e4;
    color: white;
}

.user-message {
    align-self: flex-end;
    
    background-color: #00d5e4;
}

.computer-message {
    align-self: flex-start;

    background-color: #25b8c4;
    color: white;
}

#message-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    gap: 10px;

    padding: 10px;

    width: 100%;

    overflow-y: scroll;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #25b8c4;
}